<div class="row mt-76 mb-4">
  <div class="px-4 py-5 text-center">
    <img
      src="/assets/img/profile-picture.jpg"
      alt="Profile picture of Steven Schaner"
      class="d-block mx-auto mb-4 profile-picture"
    />
    <h1 class="display-5 fw-bold">Steven Schaner</h1>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Thank you, BizStream, for allowing me to interview with you. I have worked
      hard over the past year to complete a full-stack C# .NET bootcamp with
      Grand Circus. I plan to bring the skills learned to BizStream to drive
      success.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        type="button"
        href="https://www.linkedin.com/in/stevenschaner"
        target="_blank"
        class="btn btn-primary btn-lg px-4 gap-3"
      >
        LinkedIn
      </a>
      <a
        href="https://github.com/sschaner"
        target="_blank"
        class="btn btn-outline-secondary btn-lg px-4"
        >GitHub</a
      >
    </div>
  </div>
</div>
